@layer theme, util, overrides;
@import "theme.css" layer(theme);
@import "util.css" layer(util);


body {
    background: var(--background);
    margin: 0;
    overflow-x: hidden;
}

menu {
    margin: 0;
}

.poem {
/* Voice css */
    voice-family: female;
    voice-rate: normal;
    pause-after: 100ms;
}

.stanza {
    margin: 0;
    padding: 0;
    white-space: pre;
/* Voice css */
    pause-after: 100ms;
}

.container {
    min-width: 500px;
    max-width: 750px;
    width: 75%;
    padding-top: calc(1rem + var(--menuYPadding));
    margin: auto;
}

* {
    --menuYPadding: 2rem;
}

@media screen and (max-width: 500px) {
    * {
        font-size: 18px;
    }

    .container {
        width: 100%;
        overflow-x: auto;
        overflow-y: none;
        margin: auto;
        min-width: 0;
    }

    .title {
        margin-top: 3em;

    }
}
